<footer class="bg-dark bg-dark-footer text-white py-4">
    <div class="container">
        <div class="row justify-content-center text-center text-md-center align-items-center">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Link Utili</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Playlist</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Top Charts</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Contatti</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Contatti</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-telephone-fill"></i> +39 123 456 789</li>
                    <li><i class="bi bi-envelope-fill"></i> support@henrymusic.it</li>
                    <li><i class="bi bi-geo-alt-fill"></i> Via Melodia 456, Roma</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Seguici</h5>
                <div>
                    <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 Henry Music. Tutti i diritti riservati.</p>
            </div>
        </div>
    </div>
</footer>