<main class="container text-center">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/1.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Illmatic</h5>
                    <p class="card-text">Artista: Nas</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 40 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/2.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: The Chronic</h5>
                    <p class="card-text">Artista: Dr. Dre</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 62 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/3.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Reasonable Doubt</h5>
                    <p class="card-text">Artista: Jay-Z</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 55 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/4.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Ready to Die</h5>
                    <p class="card-text">Artista: The Notorious B.I.G.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 69 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/5.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Enter the Wu-Tang (36 Chambers)</h5>
                    <p class="card-text">Artista: Wu-Tang Clan</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 61 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/6.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: All Eyez on Me</h5>
                    <p class="card-text">Artista: 2Pac</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 132 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/7.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Doggystyle</h5>
                    <p class="card-text">Artista: Snoop Dogg</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 55 min</li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="img/8.jpg" class="card-img-top" alt="Copertina Album">
                <div class="card-body">
                    <h5 class="card-title">Album: Late Registration</h5>
                    <p class="card-text">Artista: Kanye West</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Genere: Hip-Hop</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Durata: 70 min</li>
                </ul>
            </div>
        </div>
    </div>
</main>